body{
font:15px/1.5 Arial , Helvetica, sans-serif;
padding:0;
margin:0;
background-color: #d8e3f4 ;
width: 100%;
}

html, body {
    overflow-x: hidden;
}

/*global */
.container{
width: 100%;
margin:0 auto;
padding-left: 0px;
overflow: hidden;

}

*{
margin: 0;
padding-left: 5px;
box-sizing: border-box;
background:url('back2.jpg') no-repeat; 
background-size: cover;
background-attachment: fixed;
background-position: center;
padding-right: 5px;
backdrop-filter: blur(10px);
}

#branding{

    padding-left: 0px;
    margin-left: 0px;
    border-left: 0px;
}



#showcase{
border-top: 0;
margin-top: 0px;    
padding-top: 0;    
min-height: 50vh;

text-align: center;

}


#showcase h1{
    padding-top: 10vh;
    font-size: clamp(20px,5vw,50px);
    font-family: 'Marker Felt' fantasy;
    font-style: italic;
   
    
    font-size:10vh;
    
    text-shadow: 5px 5px 10px rgb(8, 8, 8);
    color: rgb(249, 9, 9);
}

#showcase h3{
padding-bottom: 0;

}

#motive{

text-align: center;
color: rgb(61, 38, 38);
padding: 10px;
margin: 0;

border: #47484a;

border-style:solid;
border:4px ridge rgb(79, 79, 79);

}

#chris{
    border-top: 0;
    margin-top: 0;    
    padding-top: 0;    
    min-height: 300px;
    max-height: 50%;
    padding-bottom: 10px;
    border: 4px inset red;
  
    color: black;
    text-align: center;
    text-decoration: solid;
    
}





#chris h1{
font-size: 35px;
padding-top: 40px;
position: relative;

color: red;
}
#chris strong{
    text-shadow: 5px 5px 10px rgb(8, 8, 8);
    text-emphasis: triangle rgb(247, 5, 5);
    text-decoration: underline;

}

#chris h3, #chris p{
    font-size: 15px;
    padding-top: 5px;
    padding-top: 10px;
    border: 0;
    color: rgb(0, 101, 0);
    }
    

.foot{

    display: flex;
    background-color: #353535;
    color: #ffffff;
    padding: 0;
    margin: 0%;
    border: 0px;
    flex-wrap: wrap;
    

} 
.about, .contact{
    flex: 1 ;
    
    text-align: center;
    padding-right: 2px;
    border: #000000;
    border-width: 1px;
    border-style: solid;
    
}

.price{
padding-top: 10px;
border-style: solid;
border-width: 0px 0px 2px 0px;
text-decoration: solid;


}
.price p{
border:2px solid rgb(91, 91, 91);

 
}

.extra{

    padding-top: 10px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    text-decoration: solid;
}

.info{
    border: 4px inset rgb(125, 125, 125);
    padding-bottom: 10px;
    max-width: 400px;
}
.end{

    padding-top: 15px;
}
.end strong{
    text-decoration: underline overline;
}
.six{

    margin: 20px;
    
    box-shadow: 20px 20px 50px rgba(255, 193, 143, 0.847);
}

.seven{

    margin: 20px;
    box-shadow: 20px 20px 50px rgba(255, 193, 143, 0.847);
}

.mail{
padding-top: 10px;
    font-size: clamp(10px,2vw,20px);
    
}
.detail{
padding-left: 10px;
    

}
.detail ol{
    padding-top: 10px;
    box-sizing: border-box;
}
